@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --accent: #43d7c3;
  --dark: #373737;
  --dark-transparent: rgba(55, 55, 55, 0.5);
  --medium: #ccc;
  --light: #fff;
  --form-error: #ffe3bf;
  --base-font: 1rem;
  --title-font-size: 1.8rem;
  --max-width: 70rem;
  --section-padding: 1.6rem;
  --icon-size: 2.5rem;
}

@media screen and (min-width: 40rem) {
  :root {
    --title-font-size: 2.2rem;
    --section-padding: 1.2rem;
    --gap: 1rem;
  }
}

@media screen and (min-width: 50rem) {
  :root {
    --title-font-size: 3rem;
    --section-padding: 3.5rem;
    --gap: 3rem;
  }
}

html {
  background-color: var(--dark);
  color: var(--dark);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: asap, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-tap-highlight-color: var(--light);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

address {
  font-style: normal;
}

a {
  color: var(--accent);
}

a:hover,
a:focus {
  color: white
}

abbr {
  text-decoration: none;
}

svg {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Modules */

.header {
  color: var(--light);
  text-align: center;
  padding: var(--section-padding);
  max-width: var(--max-width);
}

.header__logo {
  max-width: 60%;
  max-height: 10rem;
  height: auto;
  margin: 0 auto 2rem auto;
}

.header__title {
  font-size: var(--title-font-size);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.header__text {
  font-size: 1.5rem;
}

.hg {
  color: var(--accent);
}

/* Comment ça marche ? */

.how {
  background-color: var(--light);
  max-width: var(--max-width);
  padding: var(--section-padding);
  margin: 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

.how__title {
  font-size: var(--title-font-size);
}

.how__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: count;
}

.how__list-item {
  counter-increment: count;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.how__list-item:last-child {
  margin-bottom: 0;
  border: 0;
}

.how__list-item::before {
  --size: 2.5rem;
  content: counter(count);
  display: inline-block;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  font-weight: bold;
  background-color: var(--accent);
  border-radius: 9999rem;
  margin-bottom: 1rem;
}

/* Pourquoi nous choisir ? */

.trust {
  max-width: var(--max-width);
  padding: var(--section-padding);
  margin: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: var(--dark);
}

.trust__title {
  color: var(--light);
  font-size: var(--title-font-size);
}

.trust__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trust__list-item {
  color: var(--light);
  margin-bottom: 2rem;
}

.trust__list-icon {
  --size: 2.5rem;
  background-color: var(--accent);
  width: var(--size);
  height: var(--size);
  background-color: var(--accent);
  border-radius: 9999rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.trust__list-title {
  color: var(--accent);
}

/* A map ! */
.map {
  background-color: var(--dark);
  width: 100vw;
}

/* Contactez-nous ! */

.contact {
  padding: var(--section-padding);
  background-color: var(--accent);
  width: 100%;
}

.contact__header {
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(186, 255, 221, 0.5);
}

.contact__title {
  font-size: var(--title-font-size);
}

.contact__phone {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--dark);
  display: inline-block;
  border-radius: 9999rem;
  color: var(--accent);
  padding: 0.5rem 1.5rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.contact__phone-icon {
  margin-right: 0.5rem;
}

/* Le formulaire */

.form {
  max-width: var(--max-width);
  margin: 1rem auto;
}

.form__line {
  margin-bottom: 1.5rem;
}

.form__line:last-child {
  text-align: center;
}

.form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form__control {
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  padding: 0.8rem;
  width: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

textarea.form__control {
  resize: vertical;
}

.form__control:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.form__control:focus:required:invalid {
  background-color: #ffeed9;
  box-shadow: 0 0 0 2px rgba(216, 40, 163, 0.8);
}

.form__helper {
  margin-top: .25rem;
  font-size: 0.8rem;
}

.button {
  text-decoration: none;
  appearance: none;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  border-radius: 0.2rem;
  background-color: var(--dark);
  color: var(--accent);
  cursor: pointer
}

.button:hover,
.button:focus {
  background-color: var(--light);
  color: var(--dark);
}

.button:active {
  box-shadow: 0 0 0 5px var(--accent), 0 0 3px 0 var(--dark);
}

.button--light {
  background-color: var(--accent);
  color: var(--dark)
}

.button--light:hover,
.button--light:focus {
  background-color: white;
  color: var(--dark);
}

.footer {
  padding-top: var(--section-padding);
  width: 100%;
  color: #fff;
}

.footer__address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer__logo {
  max-height: 100px;
  margin-bottom: var(--section-padding);
}

body.thank {
  display: flex;
  height: 100vh;
}

.thank-box {
  color: var(--light);
  text-align: center;
  margin: auto;
}

.thank-box__title {
  color: var(--accent);
}

.thank-box__title b {
  text-decoration: underline;
}

@media screen and (min-width: 40rem) {
  html.home {
    background: var(--dark) url(tourets-bois.jpg) no-repeat;
    background-size: 100%;
    background-position: center 80vh;
  }

  .header {
    height: 90vh;
    min-height: 30rem;
  }
  .header__title {
    font-size: 3.5rem;
    line-height: 1.3
  }
  .how {
    text-align: left;
  }
  .how__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
  }
  .how__list-item {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .how__list-item::before {
    float: left;
    margin-right: 1rem;
  }
  /* Trust resp */
  .trust {
    text-align: left;
  }
  .trust__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
  }
  .trust__list-item {
    margin-bottom: 0;
  }
  .trust__list-icon {
    margin: 0 0 1rem 0;
  }
}

@media screen and (min-width: 50rem) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap);
  }
  .form__line:last-child {
    grid-column: 1 / span 2;
  }
}


/* Utils */

.honey {display:none}
